@use "../../styles/colors";
@use "../../styles/font-sizes";
@use "../../styles/line-heights";

.poetic-name {
    font-size: font-sizes.$subtitle-regular;
    line-height: line-heights.$subtitle-line-h;
    filter: drop-shadow(0 0 8px colors.$general-white);
}

.poetic-text {
    margin: 0;
    font-size: font-sizes.$main-text-regular;
    line-height: line-heights.$main-text-line-h;
}