@use "../../styles/colors";
@use "../../styles/font-sizes";
@use "../../styles/line-heights";

.header-container {
  background-color: colors.$general-black;
}

.project-name {
  font-size: font-sizes.$title-regular;
  line-height: line-heights.$title-line-h;
  color: colors.$general-white;
  margin: 0 auto 20px;
  animation: titleAnimation 5s infinite alternate;
  animation-delay: -1s;

  @keyframes titleAnimation {
      0% {
        filter: drop-shadow(0 0 8px colors.$primary-dark);
      }
      25% {
        filter: drop-shadow(0 0 12px colors.$primary);
      }
      50% {
        filter: drop-shadow(0 0 15px colors.$primary);
      }
      75% {
        filter: drop-shadow(0 0 12px colors.$primary);
      }
      100% {
        filter: drop-shadow(0 0 8px colors.$primary-dark);
      }
    }
}

.project-subscription {
  font-size: font-sizes.$subtitle-regular;
  line-height: line-heights.$subtitle-line-h;
  color: colors.$general-white;
  width: 70%;
  margin: 0 auto 35px;
}

.header-lang-button {
  width: 70%;
  outline: none;
  border-radius: 5px;
  border: hidden;
  padding: 10px;
  cursor: pointer;
  color: colors.$general-black;
  background: colors.$general-white;
  font-size: font-sizes.$subtitle-regular;
  line-height: line-heights.$subtitle-line-h;
  font-weight: 800;
  transition: 400ms;
  &:hover {
    color: colors.$general-white;
    background: colors.$general-black;
    box-shadow: 0 0 10px colors.$grey-100;
  }
  @media only screen and (min-width: 420px) {
    width: 45%;
  }
  @media only screen and (min-width: 768px) {
    width: 30%;
  }
  @media only screen and (min-width: 1200px) {
    width: 20%;
  }
}

// @media only screen and (min-width: 420px) {
//     font-size: font-sizes.$title-tablet-regular;
//  }
//  @media only screen and (min-width: 768px) {
//     font-size: font-sizes.$title-tablet-regular;
// }
// @media only screen and (min-width: 1200px) {
//     font-size: font-sizes.$title-tablet-regular;
// }
