@use "@/styles/colors";
@use "@/styles/font-sizes";
@use "@/styles/line-heights";


// pages
@import "@/components/Header/header.scss";
@import "@/components/ContentTitle/contentTitle.scss";
@import "@/components/TextScreen/textScreen.scss";
@import "@/components/PoeticTextScreen/poeticTextScreen.scss";
@import "@/components/Footer/footer.scss";

#root {
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: colors.$general-black;
}

.sprite {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}

.section-container {
  padding: 20px 30px;
  background-color: colors.$general-black;
  color: colors.$general-white;
  margin: 0 auto;
  width: 88%;
}


